//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

-
  dataHeader = {
    logoImg: 'covid-alert.svg',
    logoAlt: 'Covid 19 Logo',
    to: 'index.html',
    menuList: [
      {
        text: 'Overview',
        to: '#overview',
        navActive: 'overview'
      },
      {
        text: 'Contagion',
        to: '#contagion',
        navActive: 'contagion'
      },
      {
        text: 'Symptomps',
        to: '#symptomps',
        navActive: 'symptomps'
      },
      {
        text: 'Help',
        to: '#help',
        navActive: 'help'
      },
    ],
    headerButton: [
      {
        text: 'Contact',
        to: '#contact',
        icon: 'contact.svg'
      }
    ]
  }

//header
.header
  .container
    .header__content
      ='\n'
      a.header__logo(href=dataHeader.to)
        ='\n'
        img.header__logo__el(src='assets/img/logo/'+dataHeader.logoImg alt=dataHeader.logoAlt)/
        ='\n'
      .overlay
      ='\n'
      button.burger-menu.js-burger-menu(type='button')
        ='\n'
        each val in [0,1,2]
          span.burger-menu__bar
          ='\n'
      ='\n'
      ul.header__list.js-mobile-menu
        each val in dataHeader.menuList
          - data = val;
          li.header__item
            ='\n'
            a.header__link(href=val.to class=(navActive == val.navActive ? 'header__link--active' : '')) !{val.text}
            ='\n'
        each val in dataHeader.headerButton
          - data = val;
            ='\n'
          li.header__item
            a.btn.btn--secondary(href=val.to)
              | !{val.text}
='\n'
//end-header
