//-------------------------------------------------------------------------------
  @name: Sale
  -------------------------------------------------------------------------------//

//sale
.sale#promo
  .container
    .sale__wrapper
      .sale__txt
        .sale__txt__wrapper
          h3.sale__headline !{sale.headline}
          p.sale__title !{sale.title}
          p.sale__desc !{sale.desc}
      .sale__countdown.js-countdown(data-date='2022/05/05')
        each val in sale.list
          .sale__countdown__item
            //- p.sale__countdown__num !{val.number}
            //- p.sale__countdown__txt !{val.text}
='\n'
//end-sale