//-------------------------------------------------------------------------------
  @name: Section Description
  -------------------------------------------------------------------------------//

//section-description
.section-description
  .container
    .section-description__wrapper
      .section-description__img
        ='\n'
        img.section-description__img__el(src='assets/img/dummy/'+sectionDescription.img alt=sectionDescription.title)/
        ='\n'
      .section-description__txt
        .section-description__txt__wrapper
          h4.section-description__label
            | !{sectionDescription.label}
          h3.section-description__title
            | !{sectionDescription.title}
          p.section-description__desc
            | !{sectionDescription.desc}
          .section-description__btn
            ='\n'
            a.btn.btn--tertiary(href=sectionDescription.button.to)
              | !{sectionDescription.button.text}
='\n'
//end-solution
