//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//
-
  dataHeader = {
    logoImg: 'crappo.svg',
    logoAlt: 'Crappo Logo',
    to: 'index.html',
    menuList: [
      {
        text: 'Products',
        to: '#products'
      },
      {
        text: 'Features',
        to: '#features'
      },
      {
        text: 'About',
        to: '#about'
      },
      {
        text: 'Contact',
        to: '#contact'
      },
      {
        text: 'Login',
        to: '#login'
      },
    ],
    headerBtn: [
      {
        text: 'Register',
        to: '#register',
        icon: 'register.svg'
      }
    ]
  }

//header
.header
  .container
    .header__content
      ='\n'
      a.header__logo(href=dataHeader.to)
        ='\n'
        img.header__logo__el(src='assets/img/logo/'+dataHeader.logoImg alt=dataHeader.logoAlt)/
        ='\n'
      .overlay
      ='\n'
      button.burger-menu.js-burger-menu(type='button')
        ='\n'
        each val in [0,1,2]
          span.burger-menu__bar
          ='\n'
      ='\n'
      each val in dataHeader.headerBtn
        - data = val;
        a.header__btn(href=val.to)
          ='\n'
          img.header__btn__icon(src='assets/img/icons/'+val.icon alt=val.text)/
          ='\n'
          span.header__btn__txt !{val.text}
          ='\n'
      .header__menu.js-mobile-menu
        ul.header__list
          each val in dataHeader.menuList
            - data = val;
            li.header__item
              ='\n'
              a.header__link(href=val.to) !{val.text}
              ='\n'
='\n'
//end-header