//-------------------------------------------------------------------------------
  @name: Hero Banner Item
  -------------------------------------------------------------------------------//

//hero-banner-item
.hero-banner__item
  .container
    .hero-banner__img
      ='\n'
      img.hero-banner__img__el(src='assets/img/dummy/'+data.img alt=data.title)/
      ='\n'
    .hero-banner__txt
      .hero-banner__txt__align
        h4.hero-banner__headline
          | !{data.headline}
        h2.hero-banner__title
          | !{data.title}
        p.hero-banner__desc
          | !{data.desc}
        .hero-banner__btn
          ='\n'
          a.btn.btn--primary(href=data.btn.to) !{data.btn.text}
          ='\n'
='\n'
