//-------------------------------------------------------------------------------
  @name: Live Reports
  -------------------------------------------------------------------------------//

//live-report
.live-report
  .container
    .live-report__wrapper
      .live-report__map
        ='\n'
        img.live-report__el(src='assets/img/dummy/'+liveReports.img alt=liveReports.title)/
        ='\n'
      .live-report__box
        h3.live-report__title
          | !{liveReports.title}
        ul.live-report__list
          each val in liveReports.nation
            - data = val;
            li.live-report__item
              .live-report__nation
                ='\n'
                img.live-report__img__el(src='assets/img/dummy/'+val.img alt=val.title)/
                ='\n'
                .live-report__txt
                  ='\n'
                  span.live-report__txt__el
                    | !{val.text}
                  ='\n'
              .live-report__number
                ='\n'
                span.live-report__number__el !{val.number}
                ='\n'
                  
='\n'
//end-live-report
