//-------------------------------------------------------------------------------
  @name: Crypto
  -------------------------------------------------------------------------------//

//crypto
.crypto__item
  .crypto__box
    ='\n'
    a.crypto__link(href='#')
    ='\n'
    .crypto__box__img
      ='\n'
      img.crypto__box__img__el(src='assets/img/icons/'+val.img alt=val.title)/
      ='\n'
    h3.crypto__box__title
      | !{val.title}
      ='\n'
      span.crypto__box__title__small !{val.titleSmall}
      ='\n'
    p.crypto__box__desc
      | !{val.desc}
    .crypto__box__btn
      ='\n'
      a.btn.btn--round(href=val.button.to)
        ='\n'
        span.btn__txt !{val.button.text}
        ='\n'
        span.btn__icon
        ='\n'
='\n'
//end-crypto