//-------------------------------------------------------------------------------
  @name: Testimonials Item
  -------------------------------------------------------------------------------//

//testimonials-item
.testimonials__item
  .testimonials__customer
    .testimonials__client
      ='\n'
      img.testimonials__client__img(src='assets/img/logo/'+val.client alt=val.name)/
      ='\n'
  .testimonials__caption
    p.testimonials__caption__el
      | !{data.desc}
  .testimonials__person
    .testimonials__img
      ='\n'
      img.testimonials__img__el(src='assets/img/dummy/'+val.avatarImg alt=val.name)/
      ='\n'
    .testimonials__txt
      h3.testimonials__txt__name
        | !{data.name}
      p.testimonials__txt__position
        | !{data.position}
='\n'
//end-testimonials-item
