//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

-
  dataHeader = {
    logoSrc: 'aries.svg',
    logoLink: 'index.html',
    logoAlt: 'Aries Logo',
    menuLeft: [
      {
        link: '#program',
        text: 'Program',
        classActive: 'program'
      },
      {
        link: '#funding',
        text: 'Funding',
        classActive: 'funding'
      },
    ],
    menuRight: [
      {
        link: '#jobs',
        text: 'Jobs',
        classActive: 'jobs'
      },
      {
        link: '#menu',
        text: 'Menu',
        classActive: 'menu'
      },
    ]
  };

//header
.header
  .container
    .header__nav
      ='\n'
      a.header__logo(href=dataHeader.logoLink)
        ='\n'
        img.header__logo__el(src='assets/img/logo/'+dataHeader.logoSrc, alt=dataHeader.logoAlt)/
      ='\n'
      ul.header__nav__menu__left
        each val in dataHeader.menuLeft
          li.header__nav__item
            ='\n'
            a.header__nav__link(href=val.link class=(navActive == val.classActive ? 'header__nav__link--active' : '')) !{val.text}
            ='\n'
      ul.header__nav__menu__right
        each val in dataHeader.menuRight
          li.header__nav__item
            ='\n'
            a.header__nav__link(href=val.link class=(navActive == val.classActive ? 'header__nav__link--active' : '')) !{val.text}
            ='\n'
      ='\n'
      button.burger-menu.js-mobile-menu(type='button')
        ='\n'
        each val in [0, 1, 2]
          span.burger-menu__bar
          ='\n'
      ='\n'
    ='\n'
='\n'
//end-header
