//-------------------------------------------------------------------------------
  @name: Section Description
  -------------------------------------------------------------------------------//

//section-description
.sd-section
  .container
    .sd-section__wrapper
      .sd-section__img
        ='\n'
        img.sd-section__img__el(src='assets/img/dummy/'+sectionDescription.img alt=sectionDescription.title)/
        ='\n'
      .sd-section__txt
        h3.sd-section__title
          | !{sectionDescription.title}
        p.sd-section__desc
          | !{sectionDescription.desc}
          ='\n'
        .sd-section__btn
          ='\n'
          a.btn.btn--primary(href=sectionDescription.button.to)
            | !{sectionDescription.button.text}
          ='\n'
='\n'
// end-section-description
