//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

-
  dataFooter = {
    contact: [
      {
        iconClass: 'location',
        text: '7480 Mockingbird Hill undefined'
      },
      {
        iconClass: 'phone',
        text: '(239) 555-0108'
      },
    ],
    sosmed: [
      {
        sosmedClass: 'twitter',
        to: '#twitter'
      },
      {
        sosmedClass: 'facebook',
        to: '#facebook'
      },
      {
        sosmedClass: 'linked-in',
        to: '#linked-in'
      },
    ],
    menu: [
      {
        title: 'Pages',
        nav: [
          {
            title: 'Home',
            link: '#home'
          },
          {
            title: 'Product',
            link: '#product'
          },
          {
            title: 'Pricing',
            link: '#pricing'
          },
          {
            title: 'About',
            link: '#about'
          },
          {
            title: 'Contact',
            link: '#contact'
          },
        ]
      },
      {
        title: 'Tomothy',
        nav: [
          {
            title: 'Eleanor Edwards',
            link: '#eleanor-edwards'
          },
          {
            title: 'Ted Robertson',
            link: '#ted-robertson'
          },
          {
            title: 'Annette Russell',
            link: '#annete-russel'
          },
          {
            title: 'Jennie Mckinney',
            link: '#jennie-mckinney'
          },
          {
            title: 'Gloria Richards',
            link: '#gloria-richards'
          },
        ]
      },
      {
        title: 'Jane Black',
        nav: [
          {
            title: 'Philip Jones',
            link: '#philip-jones'
          },
          {
            title: 'Product',
            link: '#product'
          },
          {
            title: 'Colleen Russell',
            link: '#collen-russel'
          },
          {
            title: 'Marvin Hawkins',
            link: '#marvin-hawkins'
          },
          {
            title: 'Bruce Simmmons',
            link: '#bruce-simmons'
          },
        ]
      }
    ],
    copyright: '© Trafalgar PTY LTD 2020. All Rights Reserved'
  }

//footer
.footer
  .container
    .footer__menu.js-footer-accordion
      each val in dataFooter.menu
        .footer__menu__item
          if val.title
            h3.footer__title !{val.title}
          ul.footer__nav
            each item in val.nav
              li.footer__nav__item
                ='\n'
                a.footer__nav__link(href=item.link) !{item.title}
                ='\n'
    .footer__contact
      ='\n'
      each val in dataFooter.contact
        - data = val;
        .footer__contact__icon
          ='\n'
          i.footer__contact__icon-el(class='fl-'+val.iconClass)
          ='\n'
        .footer__contact__txt
          p.footer__contact__txt-el
           | !{val.text}
      ul.footer__sosmed
        each val in dataFooter.sosmed
          - data = val;
          li.footer__sosmed__icon
            ='\n'
            a.footer__sosmed__link(href=val.to)
              | !{val.text}
              ='\n'
              i.footer__sosmed__icon-el(class='fl-'+val.sosmedClass)
              ='\n'
='\n'
//end-footer