//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

-
  dataHeader = {
    logoSrc: 'figma-land-black.svg',
    logoLink: 'index.html',
    logoAlt: 'Trafalgar Logo',
    menu: [
      {
        link: '#home',
        text: 'Home',
        classActive: 'home'
      },
      {
        link: '#product',
        text: 'Product',
        classActive: 'product'
      },
      {
        link: '#pricing',
        text: 'Pricing',
        classActive: 'pricing'
      },
      {
        link: '#about',
        text: 'About',
        classActive: 'about'
      },
      {
        link: '#contact',
        text: 'Contact',
        classActive: 'contact'
      }
    ],
    sosmed: [
      {
        iconClass: 'twitter',
        alt: 'Twitter',
        href: '#'
      },
      {
        iconClass: 'facebook',
        alt: 'Facebook',
        href: '#'
      },
      {
        iconClass: 'linked-in',
        alt: 'Linkedin',
        href: '#'
      },
    ]
  };

//header
.header
  .container
    .header__nav
      ='\n'
      a.header__logo(href=dataHeader.logoLink)
        ='\n'
        img.header__logo__img(src='assets/img/logo/'+dataHeader.logoSrc, alt=dataHeader.logoAlt)/
        ='\n'
      ='\n'
      ul.header__nav__menu
        each val in dataHeader.menu
          li.header__nav__item
            ='\n'
            a.header__nav__link(href=val.link class=(navActive == val.classActive ? 'header__nav__link--active' : '')) !{val.text}
            ='\n'
        ul.header__sosmed
          each val in dataHeader.sosmed
            - data = val;
            li.header__sosmed__item
              ='\n'
              a.header__sosmed__link(href=val.href class=(navActive == val.classActive ? 'header__nav__link--active' : '')) !{val.text}
                ='\n'
                i.header__sosmed__link__el(class='fl-'+val.iconClass)
                ='\n'
        ='\n'
      button.burger-menu.js-mobile-menu(type='button')
        ='\n'
        each val in [0, 1, 2]
          span.burger-menu__bar
          ='\n'
      ='\n'
    ='\n'
='\n'
//end-header
